<script type="text/javascript" src="/cms/bower_components/ace-builds/src-min-noconflict/ace.js"></script>
<script type="text/javascript" src="/cms/bower_components/ace-builds/src-min-noconflict/ext-language_tools.js"></script>
<script type="text/javascript" src="/cms/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/users/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="/users/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript"src="/cms/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="/cms/bower_components/angular-ui-ace/ui-ace.js"></script>
<script type="text/javascript" src="/users/bower_components/at-table/dist/angular-table.min.js"></script>

<link rel="stylesheet" href="/cms/admin/css/style.css" />

<div ng-app="cmsApp" ng-controller="fatherController">

    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar match_parent mdl-color--blue-grey-100" ng-show="showMenu.show">
          <a href="#menu-panel" class="mdl-tabs__tab">Menu</a>
          <a href="#pages-panel" class="mdl-tabs__tab is-active">Pages</a>
      </div>

      <div class="mdl-tabs__panel" id="menu-panel">
          <div ui-view="menu-view"></div>
      </div>

      <div class="mdl-tabs__panel is-active" id="pages-panel">
          <div ui-view="pages-view"></div>
      </div>

<script type="text/javascript" src="/api/persistence.js"></script>
<script>
var cmsApp = angular.module('cmsApp', ['ui.bootstrap', 'ui.ace', 'angular-table', 'ui.router', 'Persistence']);
</script>
<script type="text/javascript" src="/cms/admin/js/app.js"></script>
<script type="text/javascript" src="/cms/admin/js/pagesController.js"></script>
<script type="text/javascript" src="/cms/admin/js/editPageController.js"></script>
<script type="text/javascript" src="/cms/admin/js/menuController.js"></script>
