<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="login-page">
                <div class="form">
                    <form class="login-form" action="/users/forgotPassword" method="post">
                        <h1>Forgot Password</h1>
                        <input type="text" name="username" placeholder="username" />
                        <button type="submit">Request new password</button>
                        <% if (message) { %>
                            <div class="alert alert-danger" role="alert" style="margin-top:15px;">
                                <span class="mdl-button--accent"><%= message %></span>
                            </div>
                        <% } %>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
