<% include ../../theme/views/header %>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <% include menu %>
    </div>
</nav>
    <main class="mdl-layout__content" >
        <div class="page-content" style="margin-top:70px">
            <%- page %>
        </div>
    </main>
</div>
<% include ../../theme/views/footer %>
