<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" mdl-upgrade>
    <header class="mdl-layout__header mdl-color--blue-grey-100 mdl-color-text--black">
        <div class="mdl-layout__drawer-button mdl-color-text--black" onclick="history.go(-1);">
            <i class="material-icons">arrow_back</i>
        </div>
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Back</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <span ng-show="msg">{{msg}}</span>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click="ok()">
                <i class="material-icons">save</i>
            </button>
        </div>
    </header>
    <main class="mdl-layout__content" mdl-upgrade>
        <div class="page-content">
            <div class="row" ng-if="loading">
                <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate match_parent" id="p2"></div>
            </div>
            <div class="mdl-grid mdl-grid--no-spacing" style="position: relative;">
                <div id="ace_container" class="mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone ace_editor">
                    <div class="match_parent" mdl-upgrade>
                        <div id="ace" class="match_parent" ng-model="doc._payload.body" ui-ace="{mode:'html',require: ['ace/ext/language_tools'],
  advanced: {
      enableSnippets: true,
      enableBasicAutocompletion: true,
      enableLiveAutocompletion: true
  }}"></div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone"  style="height: 600px; border:1px solid #F44336;">
                    <div style="padding:3px;">
                        <iframe style="width:100%; height: 594px;" srcdoc="{{getPreview() | trust}}"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<style>
    .ace_editor {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid #F44336;
        height: 600px;
    }
    #ace_container{
        position:relative;
    }
    .match_parent {
        width: 100%;
    }
</style>

<script>
    $(document).ready(function() {
        $("#ace").height($("#ace_container").height());
    });
</script>
