<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/theme/bootstrap/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="/theme/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/theme/bootstrap/css/main.css">

        <script src="/theme/js/jquery-2.1.4.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="/theme/bootstrap/js/bootstrap.min.js"></script>


    </head>
    <body>
