<div ng-app="app">

    <div ng-view></div>

</div>

<script src="/api/bower_components/angular/angular.min.js"></script>
<script src="/api/bower_components/angular-route/angular-route.min.js"></script>
<script src="/api/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/api/bower_components/angular-aria/angular-aria.min.js"></script>
<script src="/api/bower_components/angular-material/angular-material.js"></script>
<script src="/api/bower_components/json-formatter/dist/json-formatter.min.js"></script>
<script src="/api/persistence.js"></script>
<script src="/api/admin/js/app.js"></script>
<link href='/api/bower_components/angular-material/angular-material.min.css' media='screen' rel='stylesheet' type='text/css'/>
<link href='/api/bower_components/json-formatter/dist/json-formatter.min.css' rel='stylesheet' type='text/css'/>
<link href="/api/admin/css/main.css" rel="stylesheet" type="text/css">


<link href='/api/swagger/css/typography.css' media='screen' rel='stylesheet' type='text/css'/>
<!--<link href='/api/swagger/css/reset.css' media='screen' rel='stylesheet' type='text/css'/>-->
<link href='/api/swagger/css/screen.css' media='screen' rel='stylesheet' type='text/css'/>
<link href='/api/swagger/css/reset.css' media='print' rel='stylesheet' type='text/css'/>
<link href='/api/swagger/css/print.css' media='print' rel='stylesheet' type='text/css'/>
